<footer id="mt_footer" class="mt_footer_style1">
    <div class="container">
        <div class="mt_footer_col">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="mt_footer_about">
                        <h2><a href="#">Blog IT</a></h2>
                        <p>
                            Chào mừng bạn đến với blog của chúng tôi! Chúng tôi chia sẻ những kiến thức bổ ích và thông tin mới nhất về công nghệ, lập trình, và nhiều chủ đề khác.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="mt_footer_list">
                        <h3>Liên kết nhanh</h3>
                        <ul class="footer-quick-links-4">
                            <li><a href="#"><i class="fa fa-angle-right"></i> Công nghệ mới nhất</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Hướng dẫn lập trình</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Mẹo & thủ thuật</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Tin tức công nghệ</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Đánh giá sản phẩm</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Liên hệ với chúng tôi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="mt_footer_newsletter">
                        <h3>Bản tin</h3>
                        <div class="mailpoet_form">
                            <form target="_self" method="post" action="https://cyclonethemes.com/demo/html/suchana/email" novalidate="">
                                <label>Địa chỉ Email:</label>
                                <input type="email" class="mailpoet_text" name="mail" title="Email" placeholder="Vui lòng nhập địa chỉ email hợp lệ.">
                                <div class="blog-button">
                                    <button class="btn-blog">Đăng ký</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="mt_footer_gallery">
                        <h3>Thư viện ảnh</h3>
                        <div class="row">
                            <div class="col-sm-4 col-xs-6"><a href="#"><img src="~/images/insta/insta_01.jpg" alt="Hình ảnh"></a></div>
                            <div class="col-sm-4 col-xs-6"><a href="#"><img src="~/images/insta/insta_02.jpg" alt="Hình ảnh"></a></div>
                            <div class="col-sm-4 col-xs-6"><a href="#"><img src="~/images/insta/insta_03.jpg" alt="Hình ảnh"></a></div>
                            <div class="col-sm-4 col-xs-6"><a href="#"><img src="~/images/insta/insta_04.jpg" alt="Hình ảnh"></a></div>
                            <div class="col-sm-4 col-xs-6"><a href="#"><img src="~/images/insta/insta_05.jpg" alt="Hình ảnh"></a></div>
                            <div class="col-sm-4 col-xs-6"><a href="#"><img src="~/images/insta/insta_06.jpg" alt="Hình ảnh"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</footer>
